@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Poppins, sans-serif;
    /* background-color: yellowgreen; */
}

.titles {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.p_text {
    font-size: 1.1rem;
    font-weight: 400;
}

section {
    padding: 3rem 0;
}


/* home  */

.home-content {
    align-items: center;
    background-image: url(../assets/backgrounds/h_img.jpg);
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20rem 0 2rem 0;
    text-align: center;
}

.home-content .main_title {
    text-transform: uppercase;
    margin: 2rem 0 0 0;
    line-height: 5.4rem;
    font-size: 4rem;
    font-weight: 400;
}

.home-content p {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0 10rem 0;
}

.home-content #mouse {
    margin-bottom: 2rem;
}


/* about  */

.about-us {
    padding: 3rem 0;
}


/* end about us  */

.services {
    color: #fff;
    padding: 10rem 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/backgrounds/s_image.jpg);
}


/* what we do  */

.offer {
    padding: 3rem 0;
}

.offer .col-data {
    padding: 3rem 0;
}

.offer .col-data .h_offer {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
}


/* portfolio  */

.p_folio_1 img {
    width: 100%;
    margin-bottom: 1rem;
}

.p_folio_2 img {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 0 3rem 0;
}


/* IMAGE ANIMATIONS  */

.image {
    position: relative;
    width: 100%;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
}

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    align-items: center;
    display: flex;
    line-height: 1.2rem;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.img_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img_overlay:hover {
    opacity: 1;
}

.img_overlay:hover>* {
    transform: translateY(0);
}

.img_title {
    font-size: 2rem;
    font-weight: bold;
}

.img_description {
    font-size: 1.25em;
}


/* contact  */

.contact {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/backgrounds/c_image.jpg);
}

.contact input {
    width: 60%;
    padding: 1rem;
    margin: 1.5rem 0;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
    letter-spacing: .2rem;
}

#name {
    float: right;
}

#email {
    float: left;
}

.contact input::placeholder {
    color: #fff;
}

.contact textarea {
    height: 15rem;
    letter-spacing: .2rem;
    width: 60%;
    margin: 1.5rem 0;
    padding: 2rem;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
}

.contact textarea::placeholder {
    color: #fff;
}

.submit {
    width: 60%;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .1rem;
}


/* SOCIAL ICONS  */

.social-icons {
    padding: 2rem .7rem;
    cursor: pointer;
}

.social-icons img:hover {
    opacity: .4;
}

.c_rights p {
    text-transform: uppercase;
}


/* hidden content  */

.col-data .descr {
    display: none;
}